<app-header></app-header>
<!-- <div class="container-fluid p-4 about-us-banner">
    <h3 class="text-center  text-light">About Us</h3>
    <ul class="breadcrumb text-center">
        <li><a href="http://localhost:4200/home">Home</a></li>
        <li><span>About Us</span></li>
    </ul>
</div> -->
<div class="container py-5 my-5">
    <div class="row align-items-center">
        <div class="col-lg-6">
        <div class="about-image">
            <img class=" d-block" src='assets/images/aboutUsFirst.png' alt="about-1" />
        </div>
        </div>
        <div class="col-lg-6">
            <div class="pl-3 about-text">
                <h2>Par mums</h2>
                <p>AUDIOLASĪTAVA ir pirmā audiogrāmatu straumēšanas platforma Latvijā, kas veido ekskluzīvu saturu latviešu valodā. Mūs aizrauj jauni stāsti un tehnoloģijas, kas uzlabo digitālās straumēšanas pieredzi tiešsaistē.</p>
                <p>Mēs aktīvi veidojam audiodigitālo saturu, papildinot mūsu audiobibliotēkas grāmatu klāstu. Katru dienu mēs ierakstām audiogrāmatas ar pazīstamu aktieru balsīm.</p>
                <p>Atklāj nākotnes grāmatu Audiolasītava.lv</p>
            </div>
        </div>
    </div>

    <div class="row padding100 align-items-center">
        <div class="col-lg-6 col-md-12 order-md-2 order-lg-1">
            <div class="pl-3 about-text">
                <h2>Mūsu mērķi</h2>
                <p>Audiolasītava dibināta Rīgā 2022. gadā, un mūsu mērķis ir iepazīstināt Latvijas klausītājus ar jaunu grāmatas satura apguves pieredzi. Mūsdienās tehnoloģijas ir pārveidojušas pasauli, kurā dzīvojam, un mēs vēlamies bagātināt informācijas ieguves paradumus, kurus līdz šim ierobežoja drukātās vai elektroniskās grāmatas formāts. Mūsu mērķis ir daudzveidot informācijas ieguves avotus līdzās šobrīd populārajiem sociālajiem tīkliem.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 order-md-1 order-lg-2">
            <div class="about-image">
                <img class="mx-auto d-block" src='assets/images/aboutUsSecond.png' alt="about-1" />
            </div>
        </div>
    </div>

    <div class="row mb-5 align-items-center">
        <div class="col-lg-6">
            <div class="about-image">
                <img class="mx-auto d-block" src='assets/images/aboutUsThird.png' alt="about-1" />
            </div>    
        </div>
        <div class=" col-lg-6">
            <div class="pl-3 about-text">
                <h2>Kopīgs redzējums</h2>
                <p>Audiolasītava seko pasaules jaunākajām tendencēm literatūrā, radot vietni, kur ikviens var atrast savu audiostāstu. Mūsu mērķis ir radīt audiogrāmatas, kas bagātina ikdienu, attīsta personību un veido izpratni par sociālpolitiskajiem notikumiem pasaulē. Katru mēnesi plānojam iekļaut jaunas audiogrāmatas, kas veido pasaules literatūras Zelta fondu, kā arī jaunākās aktualitātes. </p>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <h1 class="text-center mb-5">Labākie stāsti sākas Audiolasītava</h1>

        <div class="col">
            <div class="card cardData">
                <img src="assets/images/aboutUsSeven.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4>Visur un vienmēr</h4>
                    <p class="card-text">Kad vingrojat, gatavojat ēdienu, darbojaties dārzā, remontējat dzīvokli, braucat automašīnā vai vienkārši atpūšaties: audiogrāmatas vienmēr ir jums līdzās. Izvēlieties, kura būs nākamā audiogrāmata, ko klausīsieties, vai sekojiet mūsu ieteikumiem!</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card cardData">
                <img src="assets/images/aboutUsFive.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4>Klausieties, lasiet un baudiet!</h4>
                    <p class="card-text">Šodien Audiolasītava ir viens no straujāk augošajiem audiogrāmatu un digitālo grāmatu pakalpojumiem Baltijā. Audiolasītava ļauj ērti atrast meklētās grāmatas mobilajā tālrunī un/vai planšetdatorā. Ikviens varēs atrast iecienītākos autorus, viņu radītos stāstus un aktieru balsis, kas tos iedzīvinās audioformātā.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card cardData">
                <img src="assets/images/aboutUsSix.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4>Radīts Latvijā</h4>
                    <p class="card-text">Šajā projektā mēs esam sapulcējuši talantīgu cilvēku komandu, lai radītu 100% Latvijā ražotu produktu ar skaidru mērķi: piedāvāt latviešu klausītājiem jaunu un inovatīvu produktu, kas bagātinās ikdienas pieredzi digitālajā vidē.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>