<app-header></app-header>

<div class="wrapper">
    <div class="container">
        <div class="accordianMain">
            <div class="titleHead">
                <h2>Par podkāstiem</h2>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <ngb-accordion #acc="ngbAccordion">
                        <ngb-panel title="Esmu iesācējs podkāstu pasaulē. Kā sākt?">
                            <ng-template ngbPanelContent>
                                Jums jāsāk ar podkāsta epizodes ierakstīšanu. Mēs iesakām iepriekš sagatavot programmu un skaidri definēt tās tēmu. Jo lielāka profesionalitāte podkastu sagatavošanā, jo lielākas izredzes gūt panākumus.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Es vēlētos uzņemt savu podkāstu Audiolasitavā. Kā es varu to pārvaldīt?">
                            <ng-template ngbPanelContent>
                                Vispirms jums jāreģistrējas kā podkāsta vediotājam, lai vēlāk augšupielādētu savu pirmo sēriju. Jaunas epizodes varat augšupielādēt jebkurā laikā.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Vai pastāv ierobežojumi attiecībā uz podkāsta audio ierakstu lielumu?">
                            <ng-template ngbPanelContent>
                                Audio ieraksti nedrīkst pārsniegt 200MB.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Kādā formātā man vajadzētu augšupielādēt savas podkāsta epizodes?">
                            <ng-template ngbPanelContent>
                                Audio formātam jābūt MP3 formātā ar ieteicamo bitreiti 128 kbps. Audiolasītava ir tiesīga noraidīt podkāstu, ja tas neatbilst minimālajām kvalitātes prasībām.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Vai podkāsta hostings Audiolasitavā ir bez maksas?">
                            <ng-template ngbPanelContent>
                                Jā, jūs varat bez maksas augšupielādēt savu podkāstu. Pamata pakalpojuma hostingā ir iekļautas 3 bezmaksas epizodes mēnesī . Tas ir freemium pakalpojums, un Audiolasītava patur tiesības rādīt reklāmas jebkurā podkāsta pārraidīšanas laikā.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Vai es varu augšupielādēt podkāstu par jebkuru tēmu?">
                            <ng-template ngbPanelContent>
                                Jā, ja tas atbilst noteikumiem un nosacījumiem. Audiolasītava neļaus publicēt podkāstus, kas pārkāpj platformas noteiktos noteikumus.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Vai ir nepieciešams, lai podkāsta prezentācija būtu audio formātā, lai augšupielādētu programmu?">
                            <ng-template ngbPanelContent>
                                Nē, tas nav obligāti, bet mēs iesakām augšupielādēt podkāsta ievadu, lai piesaistītu lielāku auditoriju uzmanību.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Cik podkāsta epizodes var būt aktīvas vienlaicīgi?">
                            <ng-template ngbPanelContent>
                                Ar pamata plānu jūs varat augšuplādēt  3 epizodes mēnesī.
                            </ng-template>
                        </ngb-panel>

                    </ngb-accordion>
                </div>

                <div class="col-md-6">
                    <ngb-accordion #acc="ngbAccordion">

                        <ngb-panel title="Kā es varu pārvaldīt aktīvās epizodes savā podkāstā?">
                            <ng-template ngbPanelContent>
                                Podkāsta autors var pārvaldīt epizodes, kuras viņš vēlas redzēt savā podkāstā.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Vai es varu palielināt aktīvo epizožu skaitu?">
                            <ng-template ngbPanelContent>
                                Jā. Lai to izdarītu, jums jāsazinās ar mums, izmantojot saziņas veidlapu, norādot savas vajadzības. Tur jums jāpaskaidro jūsu vajadzības, lai mēs varētu nosūtīt jums pielāgotu cenu par nepieciešamo pakalpojumu. Neaizmirstiet atstāt kontakttelefona numuru, lai mēs varētu ar jums sazināties.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Cik maksā šis paplašinātais hostinga pakalpojums?">
                            <ng-template ngbPanelContent>
                                Izmaksas būs atkarīgas no izmantotā hostinga jaudas, kas jums būs nepieciešama atkarībā no epizožu augšuplādes biežuma.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Vai es varu vienlaicīgi izveidot vairākus podkāstus vienā kontā?">
                            <ng-template ngbPanelContent>
                                Jā, ar pamata plānu jūs varat vienlaicīgi uzturēt līdz pat 2 podkāstiem.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Vai es varu lūgt samaksu par savu podkāstu?">
                            <ng-template ngbPanelContent>
                                Nē. Pašlaik visi podkāsti būs bez maksas. Mēs strādājam, lai nākotnē jūs varētu pieprasīt abonēšanas maksu, ja tāda būs.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Vai es varu monetizēt savus podkāstus, balstoties uz saņemtajiem skatījumiem?">
                            <ng-template ngbPanelContent>
                                Nē. Tā kā tas ir bezmaksas pakalpojums, kas ir atvērts sabiedrībai, podkāsteriem netiks sniegta finansiāla kompensācija par viņu atskaņojumiem.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Vai es varu redzēt sava podkāsta klausītāju skaitu?">
                            <ng-template ngbPanelContent>
                                Jā. Jūs varēsiet redzēt sava podkāsta izplatības datus, kā arī sekotājus.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Vai var importēt vai eksportēt podcastu, izmantojot RSS plūsmu?">
                            <ng-template ngbPanelContent>
                                Nē. Drīz būs aktīvs podckāstu programmu importēšanas / eksportēšanas pakalpojums, izmantojot RSS. Pašlaik vienīgais veids, kā uzturēt podkāstu aktīvu, ir manuāli augšuplādēt audio failus.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Es augšuplādēju savu podkāstu Audiolasītavā, bet nevaru to atrast tīmeklī vai lietotnē.">
                            <ng-template ngbPanelContent>
                                Visus jaunos podkāstus sākotņeji apstiprina platformas administrators, lai tie atbilstu visām norādēm, kas atrunātas noteikumos un nosacījumos.
                            </ng-template>
                        </ngb-panel>

                    </ngb-accordion>
                </div>
            </div>
            <div class="buttonClass">
                <a target="_blank"
                    href="https://us21.list-manage.com/contact-form?u=6f9d1c2564ee09de428d19acd&form_id=3e0113dcbff032c6d30180432101cd70">
                    <button class="btn btn-primary styleChanges">Sazinies ar mums!</button>
                </a>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>