@import '../../../assets/scss/style.scss';
@import '../../../assets/scss/varibales.scss';

.spinner-img {
    height: calc(100vh - 160px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.pdf-footer {
    background-color: rgb(231 231 231);
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    z-index: 9999;
}
.pdf-footer__mini span {
    margin: 0 15px;
    font-size: 24px;
}
.pdf-footer__mini img {
    max-width: 20px;
    cursor: pointer;
}

.pdf-footer__mini {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 15px;
}