<app-header></app-header>

<div class="wrapper">
    <div class="container">
        <div class="accordianMain">
            <div class="titleHead">
                <h2>Biežāk uzdotie jautājumi</h2>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <ngb-accordion #acc="ngbAccordion">
                        <ngb-panel title="Kas ir e-grāmatas?">
                            <ng-template ngbPanelContent>
                                E-grāmatas ir elektroniskas grāmatas, kas tiek izmantotas, lai palīdzētu cilvēkiem apgūt
                                un attīstīt valodas prasmes. Tās var būt noderīgas, ja vēlaties uzlabot savu valodas
                                zināšanu līmeni vai jums ir nepieciešama palīdzība valodas gramatikas jautājumos.
                                E-grāmatas parasti ir interaktīvas un sniedz daudz piemēru, lai palīdzētu jums labāk
                                izprast un apgūt valodas gramatikas noteikumus. Dažas e-grāmatas piedāvā arī mācību
                                spēles un citas interaktīvas funkcijas, lai jūs varētu apgūt valodu, izmantojot spēles.
                                E-grāmatas ir lielisks veids, kā apgūt jaunu valodu vai uzlabot esošās prasmes, jo tās
                                var palīdzēt jums mācīties efektīvāk un interesantāk.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Kas ir audiogrāmatas?">
                            <ng-template ngbPanelContent>
                                Audiogrāmatas ir elektroniskas grāmatas, kas izveidotas, lai palīdzētu cilvēkiem apgūt
                                un attīstīt valodas prasmes, izmantojot skaņas. Tās parasti ir interaktīvas un sniedz
                                daudz piemēru, lai palīdzētu jums labāk izprast un apgūt valodas gramatikas noteikumus.
                                Audiogrāmatas var būt noderīgas, ja jums ir grūtības izprast rakstītos tekstus vai
                                nepieciešama papildu palīdzība valodas gramatikas jautājumos. Tās var arī būt noderīgas,
                                ja vēlaties uzlabot savu valodas dzirdes prasmi vai jums ir grūtības uztvert valodas
                                skanējumu. Audiogrāmatas parasti ir pieejamas dažādās valodās un var būt lielisks veids,
                                kā apgūt jaunu valodu vai uzlabot esošās prasmes.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Kas ir podkāsts?">
                            <ng-template ngbPanelContent>
                                Podkāsts ir audio vai video formātā veidots raidījums, ko var lejupielādēt un atskaņot
                                jebkurā laikā un vietā. Podkāsti bieži satur sarunas, intervijas vai lekcijas par
                                dažādām tēmām, un tos var klausīties vai skatīties ierīcē, piemēram, datorā, tālrunī vai
                                planšetdatorā.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Kā es varu klausīties Audiolasītavas audiogrāmatu?">
                            <ng-template ngbPanelContent>
                                Lai klausītos Audiolasītavas audiogrāmatu, jums nepieciešams dators vai cita ierīce,
                                kurā ir audio atskaņotājs, piemēram, datorā iebūvēti skaļruņi vai austiņas. Pēc tam
                                lejupielādējiet audiogrāmatu no Audiolasītavas vietnes un atskaņojiet ar atbilstošu
                                audio atskaņotāju. Ja rodas problēmas ar lejupielādi vai atskaņošanu, sazinieties ar
                                Audiolasītavas klientu apkalpošanas dienestu, lai saņemtu palīdzību.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Kā es varu izlasīt Audiolasītavas e-grāmatu?">
                            <ng-template ngbPanelContent>
                                Lai izlasītu Audiolasītavas e-grāmatu, jums nepieciešams dators vai cita ierīce, kurā ir
                                e-grāmatu lasītājs. Pēc tam lejupielādējiet e-grāmatu no Audiolasītavas vietnes un
                                atveriet ar atbilstošu e-grāmatu lasītāju. Ja rodas problēmas ar lejupielādi vai
                                atvēršanu, sazinieties ar Audiolasītavas klientu apkalpošanas dienestu, lai saņemtu
                                palīdzību. E-grāmatas parasti ir pieejamas dažādos formātos, tāpēc pārliecinieties, ka
                                jūsu e-grāmatu lasītājs atbalsta nepieciešamo formātu.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Kāda ir atšķirība starp straumēšanu un lejupielādi?">
                            <ng-template ngbPanelContent>
                                Straumējot audiogrāmatu, jūs to varat klausīties uzreiz, izmantojot interneta
                                savienojumu. Straumēšanas priekšrocība ir tā, ka, lai klausītos audiogrāmatu, tā nav
                                jālejupielādē un nav nepieciešams atbrīvot vietu ierīcē.

                                Lejupielāde ir lieliska iespēja, ja jums ir interneta savienojums un vēlaties saglabāt
                                grāmatu savā ierīcē, lai klausītos to bezsaistē, it īpaši, ja dodaties uz vietu, kur ir
                                slikts interneta savienojums.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Kādas ir operētājsistēmas prasības, lai instalētu Audiolasītava lietotni?">
                            <ng-template ngbPanelContent>
                                Operētājsistēmas prasības ir vismaz Android 7 vai jaunāka versija, iOS 13.0 vai jaunāka
                                versija. Android ierīcēm nepieciešams, lai ierīcē būtu pieejams Google Play pakalpojums.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Vai e-grāmatām un audiogrāmatām var piekļūt arī no tīmekļa pārlūkprogrammas?">
                            <ng-template ngbPanelContent>
                                Jā, elektronisko grāmatu, audiogrāmatu un podkāstu reproducēšanai var piekļūt tīmeklī:
                                www.audiolasitava.lv
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Vai e-grāmatas var lasīt e-lasītājā (piemēram, Kindle, Kobo utt.)?">
                            <ng-template ngbPanelContent>
                                Šobrīd e-grāmatas var lasīt tikai aplikācijas ietvaros (iOS/Android) vai Audiolasītavas
                                mājaslapā: www.audiolasitava.lv
                            </ng-template>
                        </ngb-panel>


                    </ngb-accordion>
                </div>

                <div class="col-md-6">
                    <ngb-accordion #acc="ngbAccordion">

                        <ngb-panel title="Vai lietotnē var lasīt/klausīties grāmatu, kas iegādāta citā platformā?">
                            <ng-template ngbPanelContent>
                                Šobrīd pieņemam tikai tās grāmatas, kas pieejamas Audiolasītavas platformā.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Kā es varu klausīties audiogrāmatas vai podkāstus automašīnā?">
                            <ng-template ngbPanelContent>
                                Ja jums ir transportlīdzeklis, kas atbalsta Android Auto, varat savienot tālruni ar
                                automašīnas skaļruņiem. Ja jūsu tālrunī ir lietotne Audiolasītava, varat klausīties mūsu
                                audiogrāmatas, izmantojot Android Auto. Piezīme: ja jūsu operētājsistēmas versija ir
                                Android 9 vai vecāka, vispirms tālrunī būs jālejupielādē Android Auto lietotne.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Vai varu lejupielādēt e-grāmatu vai audiogrāmatu, lai klausītos bezsaistē?">
                            <ng-template ngbPanelContent>
                                Satura lejupielāde pašlaik ir pieejama tikai audiogrāmatām un podkāstiem. Varat to
                                lejupielādēt tieši atskaņotājā, noklikšķinot uz trim punktiem augšējā labajā stūrī un
                                izvēloties "Saglabāt kā bezsaistē". Kad audiogrāmata būs lejupielādēta, tā jūsu
                                bibliotēkā tiks atzīmēta zaļā krāsā.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Ja es dodos uz ārzemēm, vai man joprojām ir pieejams Audiolasītavas saturs?">
                            <ng-template ngbPanelContent>
                                Protams, Audiolasītavas platformā pieejamajam saturam var piekļūt no jebkuras vietas
                                pasaulē.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Kādi maksāšanas veidi ir pieejami?">
                            <ng-template ngbPanelContent>
                                Apmaksas veidi abonementa iegādei:

                                • Ar bankas maksājuma karti
                                • Izmantojot Apple/Google (no jūsu iOS/Android ierīces)
                                • Iizmantojot Paypal
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Kāds ir maksimālais ierīču skaits, kurās var izmantot Audiolasītavas kontu?">
                            <ng-template ngbPanelContent>
                                Audiolasītavas kontu var izmantot viena persona ne vairāk kā trijās ierīcēs.
                            </ng-template>
                        </ngb-panel>

                        <ngb-panel title="Man radusies problēma kādā no Audiolasītavas platformām. Ko man darīt?">
                            <ng-template ngbPanelContent>
                                Izmantojiet mūsu vietnē pieejamo saziņas veidlapu. Mazāk nekā 48 stundu laikā mēs ar
                                jums sazināsimies, lai sniegtu atbildi.
                            </ng-template>
                        </ngb-panel>

                    </ngb-accordion>
                </div>
            </div>
            <div class="buttonClass">
                <a target="_blank"
                    href="https://us21.list-manage.com/contact-form?u=6f9d1c2564ee09de428d19acd&form_id=3e0113dcbff032c6d30180432101cd70">
                    <button class="btn btn-primary styleChanges">Sazinies ar mums!</button>
                </a>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>