<app-header></app-header>

<div class="contentPart">
    <div class="our-apps-main py-5">
        <div class="container">
            <div class="our-apps__wrapper">
                <div class="our-apps__content">
                    <h1 class="mb-4">Audiolasītavas lietotnes</h1>
                    <p class="mb-5">Lejupielādējiet mūsu bezmaksas lietotni Android vai iPhone ierīcē un klausieties
                        audiogrāmatas jebkurā vietā, pat bezsaistē. Jūsu izvēlētais saturs tiek automātiski sinhronizēts
                        visās jūsu ierīcēs. Jūs pat varat klausīties audiogrāmatas automašīnā, kas atbalsta Bluetooth®.
                    </p>
                    <ul>
                        <li>
                            <div class="mb-3"><strong>Audiolasītava<br>Apple (IOS)</strong></div>
                            <img src="assets/images/apple.png" alt="" />
                            <div #canvas></div>
                            <button class="btn cus-btn">App Store</button>
                        </li>
                        <li>
                            <div class="mb-3"><strong>Audiolasītava<br>Android</strong></div>
                            <img src="assets/images/android.png" alt="" />
                            <div #canvas1></div>
                            <button class="btn cus-btn">Google Play</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>