
<div class="loginPage">
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="loginMain  m-auto">
                        <div class="m-auto text-center">
                            <h1>Mans profils</h1>
                        </div>
                        <form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile()">
                            <div class="form-group  rounded-5 text-center">
                               
                                <span class="editButtonProfileMain">
                                    <img [src]="uploadedFile ? uploadedFile : 'assets/images/userIcon1.webp'" alt="Image" class="rounded-circle" width="100px" height="100px" />
                                    <button class="editButtonProfile" type="button" (click)="fileInput.click()">
                                        <input #fileInput type="file" (change)="onFileUpload($event)" style="display:none;" />
                                        <img src="assets/images/edit.png" alt="..."/>
                                    </button>
                                </span>
                              </div>
                            <div class="form-group">
                                <label for="Name">Vārds:</label>
                                <div class="userIcon">
                                    <input type="text" formControlName="name" class="form-control" id="name" placeholder="Vārds" name="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pwd">E-pasts:</label>
                                <div class="emailIcons">
                                    <input type="text" formControlName="email" class="form-control" id="pwd" placeholder="E-pasts" name="email">
                                </div>
                            </div>
                            <div class="form-group buttonStyle">
                                <button type="submit" class="btn btn-primary">Saglabāt izmaiņas</button>
                                <button type="button" (click)="cancel()" class="btn btn-primary">Atcelt</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>