<app-header></app-header>

<div class="contentPart">
    <div class="authors-main py-5">
        <div class="container">
            <div class="authors__wrapper">
                <ul>
                    <li>
                        <div>
                            <img src="assets/images/last-9.png" class="img-fluid" alt="">
                            <p class="mt-2 mb-0">John Smith</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/last-9.png" class="img-fluid" alt="">
                            <p class="mt-2 mb-0">John Smith</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/last-9.png" class="img-fluid" alt="">
                            <p class="mt-2 mb-0">John Smith</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/last-9.png" class="img-fluid" alt="">
                            <p class="mt-2 mb-0">John Smith</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/last-9.png" class="img-fluid" alt="">
                            <p class="mt-2 mb-0">John Smith</p>
                        </div>
                    </li>

                    <li>
                        <div>
                            <img src="assets/images/last-9.png" class="img-fluid" alt="">
                            <p class="mt-2 mb-0">John Smith</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/last-9.png" class="img-fluid" alt="">
                            <p class="mt-2 mb-0">John Smith</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/last-9.png" class="img-fluid" alt="">
                            <p class="mt-2 mb-0">John Smith</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/last-9.png" class="img-fluid" alt="">
                            <p class="mt-2 mb-0">John Smith</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/last-9.png" class="img-fluid" alt="">
                            <p class="mt-2 mb-0">John Smith</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/last-9.png" class="img-fluid" alt="">
                            <p class="mt-2 mb-0">John Smith</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>