<app-header></app-header>
<!-- <div class="container-fluid p-4 about-us-banner">
    <h3 class="text-center  text-light">Work With Us</h3>
    <ul class="breadcrumb text-center">
        <li><a href="http://localhost:4200/home">Home</a></li>
        <li><span>Work with us</span></li>
    </ul>
</div> -->


<div class="container py-5 my-5">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="about-image">
                <img class=" d-block" src='assets/images/1_Audiolasitava-studio.jpg' alt="about-1" />
            </div>
        </div>
        <div class="col-lg-6">
            <div class="pl-3 about-text">
                <h2>Pievienojies Audiolasītavas komandai</h2>
                <p>Audiolasītavas dinamiskajā gaisotnē mēs vēlamies sadarboties ar zinātkāriem un atvērtiem cilvēkiem,
                    kas ir gatavi pielāgoties darbam mainīgā vidē.
                    Audiolasītavas komandā ikviens ir aicināts uzņemties atbildību un sniegt idejas. Jo kļūdīties ir
                    cilvēcīgi.</p>
                <p>Ikviens ir aicināts dalīties ar idejām, lai pilnveidotu klausīšanās pieredzi. Audiogrāmatas ir
                    nākamais līmenis grāmatu satura apguvē. </p>
            </div>
        </div>
    </div>

    <div class="row padding100 align-items-center">
        <div class="col-lg-6 col-md-12 order-md-2 order-lg-1">
            <div class="pl-3 about-text">
                <h2>Komandas gars</h2>
                <p>Mēs augstu vērtējam mūsu darbiniekus, tāpēc elastīgs un līdzsvarots darbs radošā vidē ir svarīga mūsu
                    uzņēmuma politikas daļa.</p>
                <p>Audiolasītava ir atvērta labākajiem darbiniekiem. Mēs meklējam talantīgus cilvēkus, lai iedrošinātu
                    un attīstītu to potenciālu.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 order-md-1 order-lg-2">
            <div class="about-image">
                <img class="mx-auto d-block" src='assets/images/2_Audiolasitava-platform.jpg' alt="about-1" />
            </div>
        </div>
    </div>

    <div class="row mb-5 align-items-center">
        <div class="col-lg-6">
            <div class="about-image">
                <img class="mx-auto d-block" src='assets/images/3_Audiolasitava-design.jpg' alt="about-1" />
            </div>
        </div>
        <div class=" col-lg-6">
            <div class="pl-3 about-text">
                <h2>Nākotnes iespējas</h2>
                <p>Šis ir aizraujošs laiks darbam uzņēmumā ‘Audiolasītava’, jo mēs veicam digitālās pārveides procesu,
                    padarot uzņēmumu elastīgāku un darba vietu dinamiskāku. Darbs Audiolasītavā ir iespēja attīstīt
                    savas prasmes un profesionālās zināšanas.</p>
            </div>
        </div>
    </div>
</div>


<div class="container job-offer">
    <h3 class="text-center mb-4">Darba piedāvājumi </h3>
    <div class="list-group list-group-flush">
        <!-- <a href="#" class="list-group-item list-group-item-action text-center" aria-current="true"> -->
        <div class="list-group-item list-group-item-action text-center">
            <div>
                <h5 class="mb-1">Sociālo mediju speciālists</h5>
            </div>
            <p class="mb-1">Vadība un pilnveidošana / Rīga</p>
        </div>
        <!-- </a> -->

        <div class="list-group-item list-group-item-action text-center">
            <div>
                <h5 class="mb-1 ">Grafiskais dizaineris</h5>
            </div>
            <p class="mb-1">Jaunrade un teksta/grafikas izvietošana / Rīga </p>
        </div>

        <div class="list-group-item list-group-item-action text-center">
            <div>
                <h5 class="mb-1 ">Junior/TechLead Fullstack izstrādātājs</h5>
            </div>
            <p class="mb-1">Pilnveidošana un uzturēšana / Rīga</p>
        </div>

        <div class="list-group-item list-group-item-action text-center">
            <div>
                <h5 class="mb-1 ">Redaktors</h5>
            </div>
            <p class="mb-1">Grāmatu rediģēšana / Rīga</p>
        </div>
    </div>
</div>

<div class="container-fluid bgYellow">
    <div class="max-width mx-auto" style="max-width: 34rem;">
        <p class="text-wrap text-center">
            Ja Jūs interesē kāds no mūsu darba piedāvājumiem, lūdzu, atsūtiet mums savu CV uz sekojošu e-pastu: <a
                href="mailto: info@audiolasitava.lv">info@audiolasitava.lv</a> Tāpat lūdzu, norādiet e-pastā, kāda darba
            pozīcija Jūs interesē.

            <!-- Ja jūs interesē kāds no šiem darba piedāvājumiem, lūdzu, atsūtiet mums jaunāko CV, izmantojot mūsu
            <a target="_blank" href="https://us21.list-manage.com/contact-form?u=6f9d1c2564ee09de428d19acd&form_id=3e0113dcbff032c6d30180432101cd70">pieteikumu veidlapu</a>. Pieteikuma tematā, lūdzu, norādiet vakanci, uz kuru piesakāties. -->
        </p>
    </div>
</div>



<app-footer></app-footer>