<footer class="footerWrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footerLogo">
                    <a href="#"><img src="assets/images/logoMain.svg" alt="Footer Logo" /></a>
                    <p>Atklāj jaunus veidus, kā papildināt savu grāmatu klāstu. Audiolasītavā varēsi atlicināt laiku saviem iecienītākajiem stāstiem digitālos formātos: lasot vai klausoties. Mēs apvienojam izglītību un izklaidi vienuviet. Audiolasītavā klausies, lasi un baudi!</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="footerLinks withlogoLinks">
                    <h4>Audiolasītava</h4>
                    <ul>
                        <li><a routerLink="/parUznemumu">Par uzņēmumu</a></li> <!-- About us -->
                        <li><a routerLink="/plataforma">Mūsu platforma</a></li> <!-- Our apps -->
                        <li><a routerLink="/darbs">Te ir darbs</a></li> <!-- Work with us -->
                        <li><a routerLink="/janumi">Janumi</a></li> <!-- Newsletter -->
                        <li><a href="http://www.blog.audiolasitava.lv/">Mūsu blogs</a></li> <!-- Our blog (link) -->
                        <li><a href="#">Mūsu podkāsts</a></li> <!-- Our podcast (link)  // Link: No URL yet -->
                        <li><a target="_blank"
                                href="https://us21.list-manage.com/contact-form?u=6f9d1c2564ee09de428d19acd&form_id=3e0113dcbff032c6d30180432101cd70">Sazinies
                                ar mums</a></li> <!-- Contact us (form)  // Link: /sazinaties -->
                    </ul>
                </div>
            </div>

            <div class="col-md-2">
                <div class="footerLinks">
                    <h4>Informācija lietotājiem</h4>
                    <ul>
                        <li><a routerLink="/AudioPodkasti">Augšuplādē podkāstu</a></li> <!-- Upload your podcast -->
                        <li><a routerLink="/faqs">Jautājumi un atbildes</a></li> <!-- FAQS -->
                        <li><a routerLink="/faqs_podkasti">Par podkāstiem</a></li> <!-- FAQS Podcast -->
                        <li><a routerLink="/privataPolitika">Privātuma politika</a></li> <!-- Privacy policy -->
                        <li><a routerLink="/sikdatnes">Sīkdatņu politika</a></li> <!-- Cookies preferences -->
                        <li><a routerLink="/lietosanas">Lietošanas noteikumi</a></li> <!-- Terms and conditions  -->
                        <!-- <li><a routerLink="/authors">Autori</a></li> -->
                    </ul>
                </div>
            </div>

            <div class="col-md-2">
                <div class="footerLinks">
                    <h4>Uzzini vairāk</h4>
                    <ul>
                        <li><a routerLink="/kategorijas">Kategorijas</a></li> <!-- Categories -->
                        <li><a routerLink="/dizpardokli">Dižpārdokļi</a></li> <!-- Bestsellers  -->
                        <li><a routerLink="/jaunumi">Jaunākās grāmatas</a></li> <!-- New books -->
                        <li><a routerLink="/stastnieki">Stāstnieki</a></li> <!-- Narrators (list + own PLP) -->
                        <li><a routerLink="/izdeveji">Izdevēji</a></li> <!-- Publishers (list + own PLP) -->
                    </ul>
                </div>
            </div>

            <div class="col-md-2">
                <div class="footerLinks">
                    <h4>Lejuplādējiet lietotni</h4>
                    <ul class="appIconsWrap">
                        <li><a routerLink="/home"><img src="assets/images/appStoreIcon.svg" alt="App Store" /></a></li>
                        <li><a routerLink="/home"><img src="assets/images/googleAppIcon.svg" alt="App Store" /></a></li>

                        <ul class="socialIcons">
                            <li><a href="https://www.instagram.com/audiolasitava/"><img
                                        src="assets/images/instagramIcon.svg" alt="instagramIcon" /></a></li>
                            <li><a href="https://twitter.com/audiolasitava"><img src="assets/images/twitterIcon.svg"
                                        alt="twitterIcon" /></a></li>
                            <li><a href="https://www.facebook.com/people/Audio-Las%C4%ABtava/100089302657283/"><img
                                        src="assets/images/fbFooterIcon.svg" alt="fbFooterIcon" /></a></li>
                            <!-- <li><a routerLink="/home"><img src="assets/images/youtubeIcon.svg" alt="youtubeIcon" /></a>
                            </li> -->
                            <li><a href="https://www.tiktok.com/@audiolasitava"><img src="assets/images/tiktok-logo-2.svg"
                                        alt="tikTokIcon" /></a>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center justify-content-between copyrightWrapper">
                    <ul class="d-flex cardIcons">
                        <li><a routerLink="/home"><img src="assets/images/googleCard.svg" alt="" /> </a></li>
                        <li><a routerLink="/home"><img src="assets/images/discoverCard.svg" alt="" /> </a></li>
                        <li><a routerLink="/home"><img src="assets/images/paypalCard.svg" alt="" /> </a></li>
                        <!-- <li><a routerLink="/home"><img src="assets/images/amexCard.svg" alt="" /> </a></li> -->
                        <li><a routerLink="/home"><img src="assets/images/maestroCard.svg" alt="" /> </a></li>
                        <li><a routerLink="/home"><img src="assets/images/cirrusCard.svg" alt="" /> </a></li>
                        <li><a routerLink="/home"><img src="assets/images/masterCard.svg" alt="" /> </a></li>
                        <li><a routerLink="/home"><img src="assets/images/visaCard.svg" alt="" /> </a></li>

                    </ul>
                    <p>Copyright © 2023 Audiolasītava. Visas tiesības aizsargātas.</p>
                    <p>Radīts <img class="heatLogoFooter" src="assets/images/heart.png" alt="Heart Icon" /> Latvijā!
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>